/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
executor {
    name = 'local'
    cpus = 8
    memory = '16.GB'
    queueSize = 10
}
process {
    resourceLimits = [
        cpus: 1,
        memory: '10.GB'
    ]
}
trace.fields = "task_id,hash,native_id,script"

params {
    // ========================================
    // MAIN ANALYSIS TOGGLES
    // ========================================
    // input                       = "${projectDir}/assets/samplesheet.csv"
    use_winnowmap               = false    // Use Winnowmap as aligner or defaults to minimap2
    align_with_bam              = true     // Enable alignment
    align_with_fastq            = false   // Enable alignment with FASTQ files  // Sample name for the analysis or patient's ID
    generate_bam_stats          = true       // Enable generation of BAM statistics
    generate_coverage           = true      // Enable generation of coverage statistics
    sv                          = true      // Enable structural variant calling
    snv                         = true   // Enable SNV calling
    cnv_spectre                 = false   // Enable CNV calling
    cnv_hificnv                 = true // Enable CNV calling with HiFiCNV
    str                         = true    // Enable STR analysis
    phase                       = true      // Enable phasing analysis
    qc                          = true    // Enable quality control
    methyl                      = true     // Enable methylation calling
    exclude_bed_hificnv         = "${projectDir}/assets/test_data/test.exclude.bed"
    fasta_file                  = "${projectDir}/assets/test_data/genome_22/genome_22.fasta"
    str_bed_file                = "${projectDir}/assets/test_data/straglr/str.test.bed"
    outdir                      = './results'

    // Spectre test parameters
    use_test_data                    = true // Use test data for Spectre - can not run it in test pipeline because does not accept subset of data.
    spectre_test_mosdepth            = "${projectDir}/assets/test_data/spectre/mosdepth.regions.bed.gz"
    spectre_test_fasta_file          = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
    spectre_test_clair3_vcf          = "${projectDir}/assets/test_data/spectre/test_clair3_merge_output.vcf.gz"


}
